configuration/Reference/streetreffiles/IDUniquenessCheckMatchKeySet.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT IDUniquenessCheckMatchKeySet (ENTITY+)>
<!ELEMENT ENTITY (IDENTIFIER)*>
<!ATTLIST ENTITY
        NAME CDATA #REQUIRED 
        TYPE (ISSU | ISSR | MRKT | FINS | FINR | CUST | EMPL | MRKX | EMRL | ACCT | DLER | DLBR | DREP | FPRO | BNCH | ISGR | CADF | FLDF | FCDF | ENTR | FIGR | IRGR | RTNG | STFD | PRVI | VHDF | MTRX | MTDI | APDF | PMUS | APLB | PCRL | PPED | ACIN | IADS | SPDC | IALG | SCAI | SCDF | IASA | SRLE
		| AUSR | AUGR | DCDF | EMGR | GUNT | GUGR | ISTY | ITGR | LAGR | PROD | PFTR | PDGR | PLNE | SUBD | SPRF | DWDF | NCDF | CYCH | BFDF | SSIS | ACTP | TXWH | EXAC | SLOC | CNTC | RGAT | RGRL | PRTY | MTTY | MDGR | JBDF | EINC | FRID | IRTY | ISPC | PXGD | RKFT | RICS | VRWN | PXDF | VRDF | GNPC 
    | GNPI | RLSC | RLSI | RLDF | INCS | UCPC | DCNG | PCFD | CVDF | GPCS | VSFD | BFRT | ENVR | PCGR | PATY | PART | ACGR | CUTY | ERGC | BNTY | RKFG | RKSD | RKSG | IAPU | EXTR | MTGR | FILF | WARC | WBND | WCAD | WCDP | WCRI | WCRP | WDTD | WENK | WENR | WIGR | WISK | WISL | WISR | WFXR | WGNR
    | WGNT | WHLD | WACK | WACS | WAGR | WMIC | WMTK | WIST | WITY | WLGR | WLMT | WLOT | WNCL | WNCS | WPAS | WPAT | WRTS | WRTV | WRTX | WPDK | WPGR | WPOS | WPRC | WPRM | WPTK | WRCP | WRIP | WWRA | WSTR | WTCL | WTGR | WTLT | WTRD | WTRN | WAAL | ACCS | ACRD | AGTR | BALH | EIST | EIAT | SCRD | PPRY | PAGR | WCRD | RPSP | RPTI) #REQUIRED 
        MATCH_FIELD CDATA #REQUIRED
        NEED_PREVALIDATION (Y|N|TRUE|FALSE) "N" 
        LOOKUPID_REQUIRED (Y|N|TRUE|FALSE) "N" 
        PRIMARY_IDENTIFIER CDATA ""
		SECONDARY_IDENTIFIER CDATA ""
        DUMMY_ACTIVITY_STATUS CDATA ""
        ENDDATE_MISMATCH_IDENTIFIER (Y|N) "N" 
        NEW_ENTITY_ID_MISMATCH (Y|N) "N" 
		BENCHMARK_RIC_MOVEMENT_MSG_TYPES CDATA ""
		BENCHMARK_RIC_ID_CTXT CDATA ""
		MSGTYPES_IDENTIFIER_MOVEMENT CDATA ""
		CREATE_MERGE_INSTRUCTION (Y|N|TRUE|FALSE) "N"
	  	ADDITIONAL_IDENTIFIERS_TO_BE_MOVED CDATA ""
		PREF_ENTITY_NME CDATA ""
		PREF_ENTITY_CTXT_TYP CDATA ""
		PREF_ENTITY_ID CDATA ""
		NO_SAME_SOURCE_MERGE_INSTRUCTION (Y|N) "N"
	  	LOG_MERGE_INSTRUCTION_BASED_ON_VSH (Y|N) "N"
		ENTITY_TYP_COLNME CDATA ""
		META_DATA_TABLE (Y|N) "N">
<!ELEMENT IDENTIFIER (MATCHKEYSET)*>
<!ATTLIST IDENTIFIER
	SEGMENT_TYPE (IssueIdentifier | IssuerIdentifier | FinsRoleIdentifier | FinancialMarketIdentifier | FinancialInstitutionIdentifier | CustomerIdentifier | EmployeeIdentifier | MarketIndexAlternateIdentifier | EmployeeRoleIdentifier
	             |DealerAlternateIdentifier | DealerBranchAlternateIdentifier | DealerRepresentativeAlternateIdentifier | FinsServicesProAltIdentifier | BNCHIdentifier | PRODProductAlternateIdentifier | PARTPartyIdentifier | PPRYPropertyIdentifier | GeographicUnitIdentifier | WCRDGSWClassificationReportDetails ) #REQUIRED
	FLD_CTXT CDATA #REQUIRED
	FLD_ID CDATA #REQUIRED>
<!ELEMENT MATCHKEYSET EMPTY>
<!ATTLIST MATCHKEYSET
	ID_CONTEXT CDATA #REQUIRED
	MATCH CDATA #REQUIRED
 	ERRLVL_LKUP_NOTFND ( ERROR | FATAL)  #IMPLIED
 	UNIQUE_ACROSS_MARKET ( TRUE | FALSE)  #IMPLIED>
